**/__pycache__
**/.classpath
**/.dockerignore
**/.DS_Store
**/.editorconfig
**/.git
**/.github
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.env
**/*.jfm
**/*.md
**/*.py#
**/*.py~
**/*.pyc
**/azds.yaml
**/charts
**/compose*
**/csv
**/django
**/docker-compose*
**/Dockerfile*
**/img
**/LICENSE
**/Makefile
**/node_modules
**/npm-debug.log
**/obj
**/package*.json
**/render.yaml
**/secrets.dev.yaml
**/taskfile.yml
**/terraform
**/values.dev.yaml
