body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: lightblue;
}

#quote-placeholder {
  height: 100px;
}

#quote-display {
  position: absolute;
  /* 50% is the vertical center of the viewport, and 50px is half the height of the #quote-placeholder div */
  top: calc(50% + 50px);
  left: 0;
  right: 0;
  bottom: 0;
}

#quote-text {
  color: black;
  font-size: 2em;
  padding-top: 10px;
}

#author-text {
  color: rgb(45, 45, 45);
  font-size: 1.5em;
  padding-top: 20px;
}
